matlabengine
numpy
scipy
python-dotenv
streamlit
pydantic
SpeechRecognition
PyAudio
dill
langchain
langchain-openai
langchain-community
# langchain-anthropic
# langchain-mistralai
# langchain-cohere
# langchain-google-genai
# langchain-aws
# boto3